@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*not working */
    /*.nav-item .active{
      background: #fff;
      padding-bottom: 12px;
      border-bottom: 3px solid var(--secondary-color);
    }*/
  }